<!DOCTYPE html>
<html class="wide wow-animation" lang="en">

<head>
    <title> Music - Yowamusic</title>
    <meta name="description" content="Listen to all Yowa's music in one place">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" href="../images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700%7CLato%7CKalam:300,400,700">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/style.css">
    <style>
        .ie-panel {
            display: none;
            background: #212121;
            padding: 10px 0;
            box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
            clear: both;
            text-align: center;
            position: relative;
            z-index: 1;
        }
        
        html.ie-10 .ie-panel,
        html.lt-ie-10 .ie-panel {
            display: block;
        }
        
        .overlay {
            position: absolute;
            content: "";
            top: 0;
            bottom: 0;
            background: rgba(0, 0, 0, .7);
            width: 100%;
            height: 100%;
            z-index: 1
        }
        
        .jp-player-init .jp-playlist {
            padding-bottom: 10px !important;
        }
    </style>
</head>

<body>
    <div class="ie-panel">
        <a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a>
    </div>
    <div class="preloader">
        <div class="preloader-body">
            <div class="cssload-bell">
                <div class="cssload-circle">
                    <div class="cssload-inner"></div>
                </div>
                <div class="cssload-circle">
                    <div class="cssload-inner"></div>
                </div>
                <div class="cssload-circle">
                    <div class="cssload-inner"></div>
                </div>
                <div class="cssload-circle">
                    <div class="cssload-inner"></div>
                </div>
                <div class="cssload-circle">
                    <div class="cssload-inner"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <!-- Page Header-->
        <header class="section page-header">
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static"
                    data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="100px" data-xl-stick-up-offset="100px" data-xxl-stick-up-offset="100px" data-lg-stick-up="true"
                    data-xl-stick-up="true" data-xxl-stick-up="true">
                    <div class="rd-navbar-main-outer">
                        <div class="rd-navbar-main">
                            <!-- RD Navbar Panel-->
                            <div class="rd-navbar-panel">
                                <!-- RD Navbar Toggle-->
                                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                                <!-- RD Navbar Brand-->
                                <div class="rd-navbar-brand">
                                    <a class="brand" href="/">YOWA MUSIC
                                    </a>
                                </div>
                            </div>
                            <div class="rd-navbar-nav-wrap">
                                <!-- RD Navbar Nav-->
                                <ul class="rd-navbar-nav">
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/">Home</a>
                                    </li>

                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/bio">Bio</a>

                                    </li>
                                    <li class="rd-nav-item active"><a class="rd-nav-link" href="/music">Music</a>

                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/gallery">Gallery</a>

                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/video">Video</a>

                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/contact">Contact</a>

                                    </li>
                                </ul>
                            </div>

                        </div>
                </nav>
                </div>
        </header>
        <section class="breadcrumbs-custom">
            <div class="">
                <div class="overlay"></div>
                <div class="parallax-container music-page" data-parallax-img="../images/public/show.jpg">
                    <div class="breadcrumbs-custom-body parallax-content context-dark">
                        <div class="container">
                            <h2 class="breadcrumbs-custom-title">Music</h2>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <div class="breadcrumbs-custom-footer">
            <div class="container">
                <ul class="breadcrumbs-custom-path">
                    <li><a href="/">Home</a></li>
                    <li><a>Music</a></li>

                </ul>
            </div>
        </div>

        <!-- Music-->
        <section class="section section-xl bg-default">
            <div class="container">

                <!-- Latest tracks -->
                <div class="item mb-4">
                    <article class="product-beth">
                        <h2 class="product-beth-title" style="display: inline-block;">
                            Latest Track(s)
                            <div class=" display-inline product-beth-badge text-right">2021</div>
                        </h2>


                        <div class="player-lis" id="newTracks">
                            <!-- DYNAMIC DATA COMING HERE -->
                            <% model.newTracks.forEach(function(track) { %>
                                <div class="jp-player-init mt-5">
                                    <div class="jp-jplayer"></div>
                                    <div class="jp-audio jp-audio-<%- track.id %>" role="application" aria-label="media player">
                                        <ul class="jp-player-list">
                                            <li class="jp-player-list-item" data-jp-title="<%- track.title %>" data-jp-artist="" data-jp-mp3="<%-track.url %>"></li>
                                        </ul>
                                        <div class="jp-interface">
                                            <div class="jp-button jp-controls">
                                                <button class="jp-btn jp-play" role="button" tabindex="0">play</button>
                                            </div>
                                            <div class="jp-playlist d-flex">
                                                <ul>
                                                    <li> </li>
                                                </ul>
                                                <button data-url="<%- track.url %>" class="btn btn-dark fa fa-download p-0 ml-4 " style='font-size:20px'></button>
                                            </div>
                                            <div class="jp-time-rail">
                                                <div class="jp-progress">
                                                    <div class="jp-seek-bar">
                                                        <div class="jp-play-bar"></div>
                                                    </div>
                                                    <div class="jp-time-wrapper">
                                                        <div class="jp-duration"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="jp-no-solution"><span>Update Required</span> To play the media you will need to either update your browser to a recent version or update your<a href="http://get.adobe.com/flashplayer/" target="_blank"> Flash plugin</a>.</div>
                                    </div>
                                </div>

                                <div class="group-md group-middle">
                                    <% if(track.listenLink) {%>
                                        <a class="button button-gray-800 button-zakaria" href="<%- track.listenLink %>">Listen Now <i class="text-warning fa fa-external-link "> </i></a>
                                        <%}%>
                                            <% if(track.buyLink) {%>
                                                <a class="button button-default-outline button-zakaria" href="<%- track.buyLink %>">Buy on Itunes <span class="mdi mdi-apple px-0 mx-0" style="font-size:25px;"></span>
                                                </a>
                                                <% } %>
                                </div>
                                <%});%>

                                    <!-- END  -->
                        </div>
                    </article>
                </div>


                <!-- First of her kind -->
                <div class="item my-4 pt-sm-3 pt-2">
                    <article class="product-beth mt-5" id="albums">
                        <!-- DYNAMIC DATA COMING HERE -->
                        <% model.albums.forEach(function(album) { %>
                            <h2 class="product-beth-title" style="display: inline-block;">
                                <a href="<%- album.listenLink %>">
                                    <%- album.name %>
                                </a>
                                <div class="display-inline product-beth-badge text-right">
                                    <%- album.year %>
                                </div>
                            </h2>

                            <!-- Songs -->
                            <div class="player-list">
                                <% album.tracks.forEach(function(track) { %>

                                    <div class="jp-player-init">
                                        <div class="jp-jplayer"></div>
                                        <div class="jp-audio jp-audio-<%- track.id %>" role="application" aria-label="media player">
                                            <ul class="jp-player-list">
                                                <li class="jp-player-list-item" data-jp-title="<%- track.title %>" data-jp-artist="" data-jp-mp3="<%-track.url %>"></li>
                                            </ul>
                                            <div class="jp-interface">
                                                <div class="jp-button jp-controls">
                                                    <button class="jp-btn jp-play" role="button" tabindex="0">play</button>
                                                </div>
                                                <div class="jp-playlist d-flex">
                                                    <ul>
                                                        <li> </li>
                                                    </ul>
                                                    <button data-url="<%- track.url %>" class="btn btn-dark p-0 fa fa-download ml-4 " style='font-size:20px'></button>
                                                </div>
                                                <div class="jp-time-rail">
                                                    <div class="jp-progress">
                                                        <div class="jp-seek-bar">
                                                            <div class="jp-play-bar"></div>
                                                        </div>
                                                        <div class="jp-time-wrapper">
                                                            <div class="jp-duration"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="jp-no-solution"><span>Update Required</span> To play the media you will need to either update your browser to a recent version or update your<a href="http://get.adobe.com/flashplayer/" target="_blank"> Flash plugin</a>.</div>
                                        </div>
                                    </div>

                                    <%});%>
                            </div>

                            <div class="group-md group-middle">
                                <% if(album.listenLink) {%>
                                    <a class="button button-gray-800 button-zakaria" href="<%- album.listenLink %>">Listen Now <i class="text-warning fa fa-external-link "> </i></a>
                                    <%}%>
                                        <% if(album.buyLink) {%>
                                            <a class="button button-default-outline button-zakaria" href="<%- album.buyLink %>">Buy on Itunes <span class="mdi mdi-apple px-0 mx-0" style="font-size:25px;"></span>
                                                </a>
                                            <% } %>
                            </div>
                            <%});%>
                                <!-- END  -->
                    </article>
                </div>


                <!-- Other songs -->
                <div class="player-lis mt-5 pt-sm-5 pt-2">
                    <h2 class="product-beth-title text-center text-sm-left mb-3 mt-5">Other Songs</h2>
                    <div class="player-lis" id="otherSongs">
                        <!-- DYNAMIC DATA COMING HERE -->
                        <% model.others.forEach(function(track) { %>

                            <div class="jp-player-init">
                                <div class="jp-jplayer"></div>
                                <div class="jp-audio jp-audio-<%- track.id %>" role="application" aria-label="media player">
                                    <ul class="jp-player-list">
                                        <li class="jp-player-list-item" data-jp-title="<%- track.title %>" data-jp-artist="" data-jp-mp3="<%-track.url %>"></li>
                                    </ul>
                                    <div class="jp-interface">
                                        <div class="jp-button jp-controls">
                                            <button class="jp-btn jp-play" role="button" tabindex="0">play</button>
                                        </div>
                                        <div class="jp-playlist d-flex">
                                            <ul>
                                                <li> </li>
                                            </ul>
                                            <button data-url="<%- track.url %>" class="btn btn-dark p-0 fa fa-download ml-4 " style='font-size:20px'></button>
                                        </div>
                                        <div class="jp-time-rail">
                                            <div class="jp-progress">
                                                <div class="jp-seek-bar">
                                                    <div class="jp-play-bar"></div>
                                                </div>
                                                <div class="jp-time-wrapper">
                                                    <div class="jp-duration"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jp-no-solution"><span>Update Required</span> To play the media you will need to either update your browser to a recent version or update your<a href="http://get.adobe.com/flashplayer/" target="_blank"> Flash plugin</a>.</div>
                                </div>
                            </div>

                            <%});%>
                    </div>
                </div>
            </div>


        </section>


        <!-- Page Footer-->
        <footer class="section footer-creative footer-creative-2">
        </footer>
        </div>

        <div class="snackbars" id="form-output-global"></div>
        <script src="../js/core.min.js"></script>
        <script src="../js/script.js"></script>
        <script src="../components/footer.js"></script>

        <script>
            document.querySelectorAll("button[data-url]").forEach(tag => {
                tag.addEventListener("click", function(e) {
                    let songUrlArr = e.target.getAttribute("data-url").split("/");
                    let songName = songUrlArr[songUrlArr.length - 1];
                    document.location.href = `audio/${songName}`;
                });
            });
        </script>
</body>

</html>